body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* ========= HEADER ========= */
header {
  margin: 10px 0;
}

header .container {
  display: flex;
  height: 80px;
  justify-content: space-between;
}

header nav {
  width: 700px;
}

header nav ul {
  align-items: flex-end;
  display: flex;
  height: 80px;
  justify-content: space-between;
}

header nav ul li {
  padding: 15px;
  text-align: center;
}

header nav ul li:hover {
  background-color: #00b18a;
}

header .header-btn button {
  width: 150px;
  font-size: 1.3em;
  font-weight: 300;
  margin: 0 5px;
  height: 50px;
  text-align: center;
  margin-top: 30px;
}

 /* ============== SECAO MAIN ============== */
#main {
  background-image: url('img/feira.jpg');
}
