body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.section-title {
  display: block;
  text-align: center;
  font-size: 2.5em;
  margin: 15px 0 30px;
}

section {
  padding: 15px 0 45px;
}

/* ========= HEADER ========= */
header {
  margin: 10px 0;
}

header .container {
  display: flex;
  height: 80px;
  justify-content: space-between;
}

header nav {
  width: 700px;
}

header nav ul {
  align-items: flex-end;
  display: flex;
  height: 80px;
  justify-content: space-between;
}

header nav ul li {
  color: #004B3B;
  font-size: 0.8em;
  font-weight: 700;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
}

header nav ul li:hover {
  background-color: #00CB9E;
  color: #fff;
}

header .header-btn {
  display: none;
}

header .header-btn button {
  font-size: 1.3em;
  font-weight: 300;
  height: 50px;
  margin: 0 5px;
  margin-top: 30px;
  text-align: center;
  width: 150px;
}

 /* ============== SECAO MAIN ============== */
 #main {
   background-image: url('img/feira.jpg');
 }

#main .container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#main .preview {
}

#main .presentation {
  text-align: center;
}

#main .presentation h3 {
  font-size: 4em;
  margin-bottom: 30px;
}

#main .presentation p {
  font-size: 2.5em;
}

/* ============== SECAO VANTAGENS ============== */
#vantagens {
  background-color: #3FD4B3;
}

.advantages-group {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
}

.advantages-group .advantage {
  flex-basis: 20%;
  height: 200px;
}

.advantages-group .advantage h3 {
  text-align: center;
  margin: 10px;
  font-size: 1.5em;
  font-weight: 700;
}

.advantages-group .advantage p {
  text-align: justify;
  line-height: 1.4;
}

/* ============== SECAO DIFERENCIAIS ============== */
/*#diferenciais {
  background-color: #84B5FE;
}

.diff-group {
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}

.diff-group .diff-col {
  flex-basis: 50%;
  text-align: center;
}

.diff-group .diff-col .diff-item {

}*/

 /* ============== SECAO RECURSOS ============== */

#recursos .container .recursos-group {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

#recursos .container .recursos-group .list-left,
#recursos .container .recursos-group .list-right {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

#recursos .container .recursos-group .list-left .recurso {
  text-align: right;
}

#recursos .container .recursos-group .recurso {
  align-items: center;
  background-color: #84B5FE;
  border-radius: 7px;
  box-sizing: border-box;
  flex-basis: 20%;
  padding: 15px 20px;
}

#recursos .container .recursos-group .recurso h4 {
  font-size: 1.2em;
  font-weight: 700;
}

#recursos .container .recursos-group .recurso p {
  margin-top: 10px;
}

/* ============== SECAO TELAS ============== */
/*#telas {
  background-color: #3FD4B3;
}

#telas .img-group {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
}

#telas .img-group img {
  background-color: #ddd;
  width: 250px;
  height: 470px;
}*/

/* ============== SECAO DOWNLOADS ============== */
#download {
  text-align: center;
}

#download .container p {
  font-size: 1.3em;
  margin: 30px 0;
}

/* ============== SECAO CONTATO ============== */
#contato .container .contact-group {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
}

#contato .container .contact-col {
  background-color: #ddd;
  flex-basis: 45%;
  height: 100px;
  text-align: center;
}

#contato .container .contact-col p {
  margin: 20px;
  font-size: 1.2em;
}

/* ============== FOOTER ============== */
footer {
  text-align: center;
  height: 40px;
  background-color: #333;
  color: #fff;
  font-size: 0.8em;
  padding-top: 15px;
  box-sizing: border-box;
}
