body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* ========= HEADER ========= */
header {
  margin: 10px 0;
}

header .container {
  display: flex;
  height: 80px;
  justify-content: space-between;
}

header nav {
  width: 700px;
}

header nav ul {
  align-items: stretch;
  display: flex;
  height: 80px;
  justify-content: space-between;
}

header nav ul li {
  width: 120px;
  height: 50px;
}

header nav ul li:hover {
  background-color: #00b18a;
}

header .header-btn {
  align-content: flex-end;
}

 /* ============== SECAO MAIN ============== */
#main {
  background-image: url('img/feira.jpg');
}
